/*-- fuentes --*/
$fontppal       :  'Montserrat', sans-serif;

/*-- variables --*/
$azul           :  #063BAF;
$azul_claro     :  #0D4BE3;
$naranja        :  #EC4E20;
$blanco         :  #ffffff;
$negro          :  #000000;
$shadow         :  rgba(0, 0, 0, 0.60);
