<header>
    <div class="container">
        <div class="d-flex justify-content-between align-items-center">
            <!-- logo -->
            <div class="logo">
                <a href="https://www.wundermanthompson.com/" target="_blank">
                    <img src="./../../../assets/images/logo.svg" alt="logo">
                </a>									
            </div>            				
            <!-- menu + hamburguesa -->
            <section class="l-menu">
                <!-- hamburguesa -->
                <button id="burger" role="button" class="btn-burger">
                    <span></span>
                    <span></span>
                    <span></span>
                </button>
                <!-- menu -->
                <nav id="menuPpal" class="menu-ppal">
                    <div class="container h-100">
                        <div class="row h-100 align-items-center">
                            <div class="col-12 col-md-6">
                                <ul>
                                    <li>
                                        <a class="d-flex align-items-end" href="">
                                            <span class="h3 pl-3">Home</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="d-flex align-items-end" href="dashboard">
                                            <span class="h3 pl-3">¿Cómo usar el dashboard?</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>									
                </nav>
            </section>				
        </div>
    </div>		
</header>

<!--<p>{{ nombre }}</p>
<button (click)="cambiarNombre()">cambiar</button>-->



